#blog-detail {
    padding: 80px 0;

    .blog-detail-item {
        background: #fff;
        border: 2px solid #e5e8f3;
        border-radius: 6px;
        padding: 20px;
        margin-bottom: 30px;

        .post-info {
            .post-photo {
                margin-bottom: 1.5rem;

                img {
                    border-radius: 6px;
                }
            }

            .post-meta {
                .meta-list {
                    padding: 0;

                    li {
                        display: inline-block;
                        margin-right: 20px;

                        a {
                            color: #6e7c90;

                            i {
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            .post-title {
                display: block;
                font-weight: 700;
                font-size: 30px;
                line-height: 1.4;
                margin: 15px 0 0;
            }

            p {
                color: #6e7c90;
                font-size: 16px;
                margin: 25px 0 0;
            }

            .post-quote {
                position: relative;
                background: #f7f9fc;
                padding: 28px 28px 28px 100px;
                margin: 50px 0;

                i {
                    position: absolute;
                    top: 42%;
                    left: 36px;
                    color: #fd5332;
                    font-size: 28px;
                    line-height: 28px;
                }

                .text {
                    color: #6e7c90;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 1.8;
                    margin: 25px 0 12px 0;
                }

                h5.name {
                    color: #000c35;
                    font-size: 18px;
                    font-style: italic;
                }
            }

            .tags-social-links-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin: 43px 0 0;

                .post-tags {
                    flex: 1 1 auto;

                    .tag-list {
                        padding: 0;

                        li {
                            display: inline-block;
                            margin-bottom: 10px;
                            @include transition(.2s ease);

                            a {
                                display: block;
                                border: 1px solid #e4e4e6;
                                padding: 9px 20px;
                                @include transition(.2s ease);
                            }

                            &:hover {
                                background: #fd5332;

                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .post-links {
                    text-align: right;

                    h4 {
                        line-height: 26px;
                    }

                    .links-list {
                        li {
                            display: inline-block;

                            &:not(:last-child) {
                                margin-right: 22px;
                            }

                            &:hover {
                                a {
                                    color: #fd5332;
                                }
                            }

                            a {
                                color: #8c96b5;
                                display: block;
                                font-size: 16px;
                                line-height: 22px;
                                @include transition(.2s ease);
                            }
                        }
                    }
                }
            }

            .post-pagination {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #e4e4e6;
                padding: 48px 0 0;
                margin: 40px 0 0;

                .prev-post {
                    a {
                        span {
                            &:hover {
                                color: #1266e3;
                            }
                        }

                        h3 {
                            line-height: 28px;
                        }
                    }
                }

                .pag-grid-icon {
                    position: absolute;
                    left: 50%;
                    top: 60%;
                    transform: translate(-50%, -50%);

                    a {
                        color: #1266e3;
                        font-size: 2.5rem;
                    }
                }

                .next-post {
                    text-align: right;

                    a {
                        span {
                            &:hover {
                                color: #1266e3;
                            }
                        }

                        h3 {
                            line-height: 30px;
                        }
                    }
                }
            }
        }

        .post-author {
            text-align: center;
    
            .photo-author {
                width: 120px;
                height: 120px;
                border: 4px solid #e4eaf3;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 1rem auto;
    
                img {
                    max-width: 120px;
                }
            }
    
            h3.name {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 5px;
            }
    
            .social-links {
                padding: 0;
                margin: 0 0 1rem 0;
    
                li {
                    display: inline-block;
                    padding: 2px 10px;
    
                    a {
                        color: #8c96b5;
                        font-size: 16px;
                        @include transition(.2s ease);
                    }
    
                    &:hover {
                        a {
                            color: #fd5332;
                        }
                    }
                }
            }
    
            p.pa-text {
                margin: 0 0 10px;
            }
        }

        .comment-area-wrapper {
            .all-comments {
                .title {
                    font-size: 26px;
                    line-height: 30px;
                    margin: 0 0 35px;
                }

                .comments-list {
                    ul {
                        padding: 0;

                        li.comment-item {
                            .cm-user {
                                display: flex;
                                margin: 0 0 50px;

                                .cm-author-photo {
                                    width: 100px;

                                    img {
                                        max-width: 100px;
                                        border-radius: 50%;
                                    }
                                }

                                .cm-content {
                                    padding-left: 30px;

                                    .cm-header {
                                        display: flex;
                                        justify-content: space-between;
                                        .cm-name-date {
                                            .author-name {
                                                font-size: 18px;
                                                line-height: 28px;
                                                margin-bottom: 2px;

                                                i {
                                                    font-size: 12px;
                                                    color: #cacfef;
                                                    margin-left: 4px;
                                                }
                                            }

                                            .cm-date {
                                                span {
                                                    color: #ef4060;
                                                    text-transform: uppercase;
                                                    font-size: 12px;
                                                    line-height: 16px;
                                                    letter-spacing: 0;
                                                    font-weight: 500;
                                                    margin: 7px 0 0;
                                                }
                                            }
                                        }

                                        .cm-reply {
                                            a {
                                                color: #6e7c90;
                                                font-size: 14px;
                                                letter-spacing: 0;
                                                line-height: 18px;
                                            }
                                        }
                                    }

                                    .cm-text {
                                        margin: 19px 0 0;
                                        p {
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            ul.children {
                                padding-left: 40px;
                            }
                        }
                    }
                }
            }

            .comment-submit-form {
                .reply-title {
                    line-height: 30px;
                    font-size: 24px;
                }

                form {
                    .form-group {
                        .form-control {
                            background: #f9fafc;
                            border: 1px solid #ebedf5;
                            border-radius: 3px;
                            color: #646e77;
                        }
                    }
                }
            }
        }
    }

    .single-widget-item {
        background: #ffffff;
        border: 2px solid #e5e8f3;
        border-radius: 6px;
        padding: 30px 28px 35px;
        margin: 0 0 40px;

        h4 {
            line-height: 26px;
            font-size: 21px;
        }

        .search-form {
            position: relative;
            input {
                border-radius: 4px;
                border: 1px solid #ebedf5;
                background: #f9fafc;
                font-size: 12px;
                padding: 10px 70px 10px 30px;
                height: 60px;
                width: 100%;
            }

            button {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 52px;
                height: 50px;
                color: #fff;
                background: #1266e3;
                font-size: 14px;
                border: 0;
                outline: 0;
                border-radius: 4px;
                line-height: 50px;
            }
        }

        .cat-list {
            padding: 0;

            li {
                border-bottom: 1px solid #eaeaea;
                padding: 11px 0;

                a {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .post-list {
            padding: 0;

            li {
                // display: flex;
                // justify-content: space-between;
                display: block;
                overflow: hidden;
                margin: 0 0 15px;

                .img {
                    max-width: 80px;

                    img {
                        width: 100%;
                        border-radius: 3px;
                    }
                }

                .content {
                    display: block;
                    overflow: hidden;

                    a {
                        display: block;
                        overflow: hidden;
                        letter-spacing: 0;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 22px;
                        margin: 0 0 7px;
                        padding-left: 20px;
                    }

                    .date {
                        color: #6e7c90;
                        display: block;
                        overflow: hidden;
                        letter-spacing: 0;
                        font-size: 14px;
                        line-height: 18px;
                        padding-left: 20px;

                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .tag-list {
            padding: 0;
            li {
                position: relative;
                display: inline-block;
                margin-bottom: 5px;
                z-index: 1;

                a {
                    display: block;
                    border: 1px solid #eaeaea;
                    letter-spacing: 0;
                    font-size: 14px;
                    padding: 9px 25px;
                    @include transition(.3s ease);
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left:0;
                    right:0;
                    height: 100%;
                    background: $primary-bg-color;
                    transform: scale(0,1);
                    transform-origin: 100% 50%;
                    @include transition(transform .4s ease);
                    z-index: -1;
                }

                &:hover {
                    a {
                        color: #fff;
                    }
                }

                &:hover::after {
                    transform-origin: 0% 50%;
                    transform: scale(1,1);
                    z-index: -1;
                }
            }
        }
    }
}