#good-places {
    padding: 80px 0;

    .listing {
        .item {
            position: relative;
            width: 100%;
            border-radius: 0.5rem;
            overflow: hidden;
            background: #fff;
            margin-bottom: 30px;
            border: none;
            box-shadow: 0 0 20px 0 rgba(62, 28, 131, .1);
            -webkit-box-shadow: 0 0 20px 0 rgba(62, 28, 131, .1);

            .slider {
                position: relative;
                img {
                    max-width: 100%;
                }

                .slick-prev,
                .slick-next{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30px;
                    height: 30px;
                    border: 0;
                    outline: 0;
                    line-height: 30px;
                    color: #fff;
                    background: rgba(255, 255, 255,0.2);
                    font-size: 10px;
                    border-radius: 50%;
                    box-shadow: 0 5px 24px rgb(31, 37, 59, .15);
                    transition: 0.2s;
                    z-index: 1;
                    opacity: 0;
                }

                .slick-prev {
                    left: 10px;
                }

                .slick-next {
                    right: 10px;
                }

                &:hover {
                    .slick-prev,
                    .slick-next {
                        opacity: 1;
                    }
                }
            }

            .content {
                .header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 1.5rem;
                    vertical-align: middle;
                    .title {
                        span {
                            display: block;
                            font-size: 14px;
                            margin: 0;
                        }

                        .name {
                            position: relative;
                            font-size: 16px;
                            font-weight: 600;
                            margin-bottom: 0px;

                            &::after {
                                position: absolute;
                                content: url("/assets/img/veryfy.svg");
                                width: 18px;
                                height: 18px;
                                top: 2px;
                                right: -23px;
                                max-width: 100%;
                                background-size: contain;
                                object-fit: cover;
                            }
                        }
                    }

                    .price {
                        position: relative;
                        color: #1266e3;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 1.4;
                        padding-left: 0.35em;
                    }
                }

                .options {
                    display: flex;
                    width: 100%;
                    padding: 1rem 1.5rem;
                    .opt-item {
                        display: flex;
                        align-items: center;
                        width: auto;
                        margin-right: 1.2rem;

                        .inc-fleat-icon {
                            width: 25px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #edf1f9;
                            border: 2px solid #e0e4ef;
                            border-radius: 50%;
                            margin-right: 7px;

                            span {
                                font-size: 14px;
                                color: #616e96;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #e4e8f3;
                padding: 1rem 1.5rem;
                margin-top: 1rem;

                p {
                    font-size: 15px;
                    margin-bottom: 0;

                    img {
                        margin-right: 5px;
                    }
                }

                .prt-view {
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff !important;
                    background: #0fca98;
                    border-radius: 50px;
                    padding: 4px 18px;
                }
            }
        }
    }
}