#intro {
    background-image: url(../img/banner-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    .search-bar-form {
        background-color: #fff;
        border-radius: .8rem;
        padding: 40px 50px 50px;
        box-shadow: 0 20px 30px rgba(0, 22, 84, .25);  // Sass doesn't understand rgb logic, So I wrote rgba with ,
        overflow: hidden;
    }
}