#contact-options {
    padding: 80px 0;

    .contacts {
        margin-bottom: 30px;

        .contact-item {
            background: #fff;
            text-align: center;
            border-radius: 10px;
            vertical-align: baseline;
            overflow: hidden;
            padding: 2.5em 2em;
            box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
            -webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
            -moz-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);

            i {
                font-size: 3em;
                margin: 0 auto 1rem auto;
            }
    
            .content {
                margin-top: 1rem;
                h4 {
                    font-size: 18px;
                    margin-bottom: 3px;
                }
    
                p {
                    margin-bottom: .3rem;
                }
    
                span {
    
                }
    
                .live-chat {
                    background: rgba(25, 189, 88,0.1);
                    color: #19bd58;
                    border: none;
                    border-radius: 2px;
                    padding: 4px 12px;
                    cursor: pointer;
                    outline: none;
                    display: table;
                    margin: 5px auto 0 auto;
                }
            }
        }
    }

    .btn-wrapper {
        margin-bottom: 1rem;
        border-bottom: 1px solid #e8eef7;

        .nav-tabs {
            border: none;
            margin-bottom: 0px;
            .nav-item {
                border-right: 1px solid #253465;
                .nav-link {
                    border: 0;
                    border-color: #1266e3;
                    // background: transparent !important;
                    padding: 0.7rem 2rem;

                    &.active {
                        background: #2f4ba5 !important;
                        color: #ffffff;
                        border-radius: 0rem;
                        margin-right: 0px;
                    }
                }
            }
        }
    }

    .tab-wrapper {
        .tab-content {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}