// fonts
$primary-font: 'Muli', sans-serif;
$secondary-font: 'Jost', sans-serif;

// colors
$primary-color:#0fca98;
$secondary-color:#08184b;
$primary-bg-color: #1266e3;
$primary-icon-color:#1266e3;
$secondary-bg-color: #2540a2;
$title-color:#2D3954;
$text-color:#4e5c79;
$helper-color:#455892;
